body, html, body > div, .base > div {
  width: 100%;
  height: 100%;
}

.base {
  width: 90%;
  height: 100%;
}

.CardGameView {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  .TopRow {
    display: flex;
    justify-content: space-evenly;

    width: 100%;
    height: 30%;
  }

  .MiddleRow {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 30%;
  }

  .BottomRow {
    display: flex;
    justify-content: space-evenly;

    width: 100%;
    height: 30%;
  }

  .SpaceRow {
    width: 100%;
    height: 10%;
  }
}
