<%= form_tag save_round_path do %>

  <td><%= round_number %></td>
  <% @rounds_by_number[round_number].each do |round| %>
    <td>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text pb-0">
                  <label class="form-group-label">
                    <input checked type="radio" name="gender" value="Mrs"> Nertzed
                  </label>
                </div>
                <div class="input-group-text pb-0">
                  <label>
                    <input type="radio" name="gender" value="Mr"> No
                  </label>
                </div>
              </div>
              <input type="text" class="form-control" aria-label="Text input with radio button">
            </div>
          </div>
        </div>
      </div>
    </td>
  <% end %>
  <td>
    <%= hidden_field_tag :round_number, round_number %>
    <button type="submit" class="btn btn-sm btn-outline-success">Save round</button>
  </td>
  <td></td>
<% end %>
