.CardGameView {
  display: flex;
  flex-direction: column;

  width: 1260px;
  height: 800px;

  .TopRow {
    display: flex;
    justify-content: space-between;

    width: 1260px;
    height: 250px;

    padding-left: 250px;
    padding-right: 250px;

    margin-bottom: 25px;
  }

  .MiddleRow {
    display: flex;
    justify-content: space-between;

    width: 1260px;
    height: 250px;

    padding-left: 50px;
    padding-right: 50px;

    margin-bottom: 25px;
  }

  .BottomRow {
    display: flex;
    justify-content: space-between;

    padding-left: 250px;
    padding-right: 250px;

    width: 1260px;
    height: 250px;
  }
}
