.CardGameView {
  display: flex;
  flex-direction: column;

  width: 1260px;
  height: 800px;

  .TopRow {
    display: flex;
    justify-content: space-between;

    width: 1260px;
    height: 250px;

    // Equates to 25px between player tables
    padding-left: 257.5px;
    padding-right: 257.5px;

    margin-bottom: 25px;
  }

  .MiddleRow {
    display: flex;
    justify-content: space-between;

    width: 1260px;
    height: 250px;

    margin-bottom: 25px;
  }

  .BottomRow {
    display: flex;
    justify-content: space-between;

    // Equates to 25px between player tables
    padding-left: 257.5px;
    padding-right: 257.5px;

    width: 1260px;
    height: 250px;
  }
}
