.CardDeckHolder {
  width: 50px;
  height: 70px;

  border: 1px solid black;
  border-radius: 10%;
}

.solidLine {
  border: 1px solid black;
}

.dashedLine {
  border: 1px dashed grey;
}

.solidLineCardOne {
  box-shadow: 1px 1px white, 2px 2px black;
}

.solidLineCardTwo {
  box-shadow: 1px 1px white, 2px 2px black, 3px 3px white, 4px 4px black;
}

.solidLineCardThree {
  box-shadow: 1px 1px white, 2px 2px black, 3px 3px white, 4px 4px black, 5px 5px white, 6px 6px black;
}
