.PlayerTableNew {
  display: flex;
  flex-direction: column;

  height: 250px;
  width: 360px;
  border: 1px solid black;

  padding: 10px;

  .CardsArea {
    display: flex;
    justify-content: space-between;

    height: 190px;
    width: 340px;

    .NertzPileArea {
      display: flex;
      flex-direction: column;

      height: 230px;
      width: 50px;
    }

    .SolitaireDeckArea {
      display: flex;
      flex-direction: column;

      height: 230px;
      width: 50px;
    }

    .SolitaireArea {
      display: flex;
      flex-direction: column;

      height: 230px;
      width: 50px;
    }
  }

  .PlayerGameArea{
    display: flex;
    justify-content: flex-end;

    padding-top: 10px;
    padding-bottom: 10px;

    height: 50px;
    width: 340px;

    .PlayerSelect {
      width: 90px;
      margin-right: 5px;
    }

    .SetPlayerButton {
      width: 90px;
      margin-left: 5px;
    }
  }
}
