.SolitaireWorkPile {
  display: flex;
  flex-direction: column;

  .solitaireWorkCard {
    width: 50px;
    height: 70px;

    border: 1px solid black;
    border-radius: 10%;
    background-color: white;

    padding-left: 2px;
    padding-right: 2px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    user-select: none;
  }

  .solidLineCard {
    border: 1px solid black;
  }

  .redBoldSolidLineCard {
    border: 3px solid #B71C1C;
  }

  .purpleBoldSolidLineCard {
    border: 3px solid #8E24AA;
  }

  .blueBoldSolidLineCard {
    border: 3px solid #3F51B5;
  }

  .yellowBoldSolidLineCard {
    border: 3px solid #F9A825;
  }

  .greenBoldSolidLineCard {
    border: 3px solid #2E7D32;
  }

  .pinkBoldSolidLineCard {
    border: 3px solid #F48FB1;
  }

  .dashedLineCard {
    border: 1px dashed grey;
  }

  .solitaireWorkPreviewCard {
    width: 50px;
    height: 15px;
    background-color: white;

    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;

    border-radius: 5px 5px 0px 0px;

    padding-left: 2px;
    padding-right: 2px;

    user-select: none;
  }

  .topNumSuit {
    display: flex;
    flex-direction: row;
    font-size: 10px;
  }

  .middleSuit {
    display: flex;
    justify-content: center;
    font-size: 25px;
  }

  .bottomNumSuit {
    display: flex;
    flex-direction: row-reverse;
    font-size: 10px;
  }

  .leftHalfNum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 22px;
    padding-bottom: 20px;
  }

  .rightHalfSuit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 28px;
    padding-top: 15px;
  }

  .red {
    color: #B71C1C;
  }

  .black {
    color: #000000;
  }

  .zIndexZero {
    z-index: 0;
  }

  .zIndexOne {
    z-index: 1;
  }
}
