.SolitaireWorkPile {
  display: flex;
  flex-direction: column;

  .solitaireWorkCard {
    width: 50px;
    height: 70px;

    border: 1px solid black;
    border-radius: 10%;
    background-color: white;

    padding-left: 2px;
    padding-right: 2px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    user-select: none;
  }

  .solidLineCard {
    border: 1px solid black;
  }

  .dashedLineCard {
    border: 1px dashed grey;
  }

  .solitaireWorkPreviewCard {
    width: 50px;

    border-radius: 5px 5px 0px 0px;

    padding-left: 2px;
    padding-right: 2px;

    user-select: none;
  }

  .previewCardFull {
    height: 15px;
    background-color: white;

    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }

  .previewCardHidden {
    height: 0px;
  }

  .topNumSuit {
    display: flex;
    flex-direction: row;
    font-size: 10px;
  }

  .middleSuit {
    display: flex;
    justify-content: center;
    font-size: 25px;
  }

  .bottomNumSuit {
    display: flex;
    flex-direction: row-reverse;
    font-size: 10px;
  }

  .red {
    color: #B71C1C;
  }

  .black {
    color: #000000;
  }

  .zIndexZero {
    z-index: 0;
  }

  .zIndexOne {
    z-index: 1;
  }
}
