.ThreeCardHolder {
  display: flex;
  flex-direction: column;

  margin-top: 10px;

  .solitairePilePreview {
    width: 50px;
    height: 20px;

    border-radius: 5px 5px 0px 0px;
    padding-left: 2px;
    padding-right: 2px;

    user-select: none;
  }

  .dashedLinePreview {
    border-top: 1px dashed grey;
    border-left: 1px dashed grey;
    border-right: 1px dashed grey;
  }

  .solidLinePreview {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }

  .bottomCard {
    width: 50px;
    height: 70px;

    border-radius: 10%;
    background-color: white;

    padding-left: 2px;
    padding-right: 2px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    user-select: none;
    z-index: 0;
  }

  .solidLineCard {
    border: 1px solid black;
  }

  .dashedLineCard {
    border: 1px dashed grey;
  }

  .topNumSuit {
    display: flex;
    flex-direction: row;
    font-size: 10px;
  }

  .middleSuit {
    display: flex;
    justify-content: center;
    font-size: 25px;
  }

  .bottomNumSuit {
    display: flex;
    flex-direction: row-reverse;
    font-size: 10px;
  }

  .red {
    color: #B71C1C;
  }

  .black {
    color: #000000;
  }

  .zIndexTop {
    z-index: 1;
  }
}
