.PlayerTable {
  display: flex;

  height: 100%;
  width: 20%;
  border: 1px solid black;

  .CardDeckArea {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 20%;
  }

  .SolitaireArea {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 20%;
  }

  .Card {
    margin: 10%;

    width: 80%;
    height: 30%;

    border: 1px solid black;
    border-radius: 10%;
  }
}
