.PlayerTable {
  display: flex;

  height: 100%;
  width: 20%;
  border: 1px solid black;

  .CardDeckArea {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 20%;
  }

  .SolitaireArea {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 20%;
  }
}
