<h1>Nertz Stats</h1>
<hr>

<% @stats_modules.each do |name, klass| %>
  <h3><%= name.underscore.humanize %></h3>
  <p><%= klass.description %></p>
  <%= stats_builder(stats_class: klass) %>
  <hr>
<% end %>
